{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "THREE": false
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["warn", "as-needed"],
    "arrow-spacing": "warn",
    "block-scoped-var": "error",
    "comma-spacing": ["warn", { "before": false, "after": true }],
    "constructor-super": "error",
    "curly": ["warn", "multi"],
    "dot-notation": "warn",
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "no-class-assign": ["error"],
    "no-cond-assign": "error",
    "no-const-assign": "error",
    "no-dupe-args": "error",
    "no-dupe-class-members": "error",
    "no-dupe-keys": "error",
    "no-duplicate-imports": "error",
    "no-else-return": "error",
    "no-global-assign": "error",
    "no-invalid-this": "error",
    "no-multiple-empty-lines": ["warn", { "max": 1, "maxEOF": 1 }],
    "no-param-reassign": "error",
    "no-redeclare": "error",
    "no-return-assign": ["warn", "always"],
    "no-shadow-restricted-names": "error",
    "no-this-before-super": "error",
    "no-trailing-spaces": "warn",
    "no-undef": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "no-unused-vars": ["error", { "args": "all" }],
    "no-use-before-define": ["error", { "functions": false }],
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "operator-assignment": ["error", "always"],
    "prefer-arrow-callback": "warn",
    "prefer-const": "warn",
    "prefer-destructuring": ["warn", {"object": true, "array": false}],
    "prefer-spread": "error",
    "quotes": ["warn", "single"],
    "semi": ["warn", "never"],
    "space-before-blocks": "warn",
    "space-before-function-paren": ["warn", "never"],
    "space-in-parens": ["warn", "never"],
    "space-infix-ops": "warn",
    "spaced-comment": ["warn", "always"],
    "vars-on-top": "error",
    "yoda": "error",
    "new-cap": ["warn", {
      "capIsNewExceptions": ["mongodb.ObjectID", "express.Router"]
    }]
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true,
      "jsx": true
    }
  }
}
